html,
body,
#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

header,
footer,
div,
input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mc-btn,
.mc-link {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: uppercase;
}

.mc-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mc-form .mc-inp-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9em;
  width: 70%;
  position: relative;
}

.mc-form .mc-inp-box .mc-inp-error {
  position: absolute;
  color: #c9302c;
  background-color: #fff;
  padding: 0px 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  top: -6px;
  right: 15%;
  border-radius: 30px;
}

.mc-form .mc-inp-box .mc-inp-logo,
.mc-form .mc-inp-box .mc-inp-helper {
  border: 3px solid #444476;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16%;
  min-width: 65px;
  font-size: 1.8em;
  pading-top: 10px;
}

.mc-form .mc-inp-box .mc-inp-logo i,
.mc-form .mc-inp-box .mc-inp-helper i {
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.mc-form .mc-inp-box .mc-inp-logo .fa-envelope,
.mc-form .mc-inp-box .mc-inp-helper .fa-envelope {
  padding-top: 6px;
}

.mc-form .mc-inp-box .mc-inp-logo {
  border-right: 0;
  color: rgba(68, 68, 118, 0.6);
}

.mc-form .mc-inp-box .mc-inp-logo.red {
  color: #c9302c;
}

.mc-form .mc-inp-box .mc-inp-logo.green {
  color: #449d44;
}

.mc-form .mc-inp-box .mc-inp-helper {
  color: rgba(255, 206, 17, 0.6);
  border-left: 0;
}

.mc-form .mc-inp-box .mc-inp {
  max-height: 65px;
  width: 68%;
  min-width: 250px;
  padding: 20px 10px 15px;
  border: 3px solid #444476;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  color: #444476;
  font-weight: 700;
  border-left: 0;
  border-right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.mc-form .mc-inp-box .mc-inp::-webkit-input-placeholder {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  color: #444476;
  font-weight: 700;
}

.mc-form .mc-inp-box .mc-inp::-moz-placeholder {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  color: #444476;
  font-weight: 700;
}

.mc-form .mc-inp-box .mc-inp::-ms-input-placeholder {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  color: #444476;
  font-weight: 700;
}

.mc-form .mc-inp-box .mc-inp::placeholder {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  color: #444476;
  font-weight: 700;
}

.mc-btn {
  font-weight: 700;
  padding: 16px 40px;
  color: #444476;
  border: 3px solid #444476;
  cursor: pointer;
  outline: none;
}

.mc-btn.submit {
  width: 70%;
  background-color: #444476;
  color: #fff;
  margin-bottom: 0.8em;
}

.mc-btn.submit.sign {
  text-transform: none;
}

.mc-link {
  font-weight: 500;
  color: #0B84BD;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.mc-link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0B84BD;
}

/*Animation for error*/

.slide-fade-enter-active {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.mc-stickers {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mc-stickers .mc-sticker {
  width: 450px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #444476;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px auto 0px;
}

.mc-stickers .mc-sticker:first-child {
  margin-top: 0px;
}

.mc-stickers .mc-sticker .sticker-status-side {
  width: 75px;
  min-width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, color-stop(25.73%, #D62E23), color-stop(62.86%, #FFCE11), color-stop(93.81%, #23D680));
  background: linear-gradient(270deg, #D62E23 25.73%, #FFCE11 62.86%, #23D680 93.81%);
  position: relative;
}

.mc-stickers .mc-sticker .sticker-status-side::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-right: 4px solid #00B16A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mc-stickers .mc-sticker .sticker-status-side i {
  position: relative;
  z-index: 2;
  color: #00B16A;
  font-size: 2.4em;
}

.mc-stickers .mc-sticker .sticker-content-side {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.mc-stickers .mc-sticker .sticker-content-side .sticker-title {
  font-size: 0.9em;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0px 15px;
  padding: 0px 35px 0px 5px;
  letter-spacing: -0.5px;
  color: #444476;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mc-stickers .mc-sticker .sticker-content-side .mc-sticker-close,
.mc-stickers .mc-sticker .sticker-content-side .mc-sticker-show {
  position: absolute;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 12px;
  font-size: 1.2em;
}

.mc-stickers .mc-sticker .sticker-content-side .mc-sticker-close i,
.mc-stickers .mc-sticker .sticker-content-side .mc-sticker-show i {
  cursor: pointer;
}

.mc-stickers .mc-sticker .sticker-content-side .mc-sticker-close {
  color: #D62E23;
  top: 8px;
}

.mc-stickers .mc-sticker .sticker-content-side .mc-sticker-show {
  color: #E0A800;
  bottom: 8px;
}

.mc-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 100%;
}

.mc-start .mc-header {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 0;
}

.mc-start .mc-header .mc-logo {
  height: 65px;
}

.mc-start .mc-header .mc-logo img {
  height: 100%;
}

.mc-start .mc-header .mc-menu .mc-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mc-start .mc-header .mc-menu .mc-visible.mc-mirror .title {
  color: #000;
}

.mc-start .mc-header .mc-menu .mc-visible.mc-mirror .visual .re {
  background-color: #000;
}

.mc-start .mc-header .mc-menu .mc-visible .title {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-right: 10px;
  color: #fff;
}

.mc-start .mc-header .mc-menu .mc-visible .visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 26px;
}

.mc-start .mc-header .mc-menu .mc-visible .visual .re {
  height: 55px;
  width: 2px;
  background-color: #fff;
}

.mc-start .mc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.mc-start .mc-content .mc-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 60%;
  position: relative;
  background-color: #fff;
}

.mc-start .mc-content .mc-work.mc-mirror {
  width: 40%;
}

.mc-start .mc-content .mc-work.mc-mirror.user_license_agreement {
  position: relative;
}

.mc-start .mc-content .mc-work.mc-mirror.user_license_agreement::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.mc-start .mc-content .mc-work.mc-mirror .mc-stickers-area {
  position: absolute !important;
  height: 200px;
  width: 100%;
  top: 10%;
  overflow: hidden;
}

.mc-start .mc-content .mc-work .center-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mc-start .mc-content .mc-work .center-box .intro-title {
  margin: 0px 0px 0.6em;
  letter-spacing: -1px;
  font-size: 54px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #444476;
  line-height: 1.3em;
  text-align: center;
}

.mc-start .mc-content .mc-work .center-box .intro-title b {
  font-weight: 600;
  color: #2b2b5f;
}

.mc-start .mc-content .mc-work .center-box .intro-title b:last-child {
  margin-right: 10px;
}

.mc-start .mc-content .mc-work .center-box .auth-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mc-start .mc-content .mc-work .center-box .auth-box a.mc-btn {
  margin-right: 2.5em;
}

.mc-start .mc-content .mc-work .center-box .auth-box a.mc-link {
  margin-bottom: 7px;
}

.mc-start .mc-content .mc-work .center-box .mc-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: -1px;
  color: #444476;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0.6em;
}

.mc-start .mc-content .mc-work .center-box .mc-title img {
  margin-right: 5px;
}

.mc-start .mc-content .mc-work .center-box .mc-form .mc-inp-box.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mc-start .mc-content .mc-work .center-box .mc-form .mc-inp-box.right a {
  text-decoration: none;
  color: #0B84BD;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 20px;
}

.mc-start .mc-content .mc-info {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  position: relative;
}

.mc-start .mc-content .mc-info.mc-mirror {
  width: 60%;
  position: relative;
}

.mc-start .mc-content .mc-info.mc-mirror .mc-user_license_agreement {
  position: absolute;
  padding: 120px 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
}

.mc-start .mc-content .mc-info.mc-mirror .mc-user_license_agreement .mc-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: -1px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 0.6em;
}

.mc-start .mc-content .mc-info.mc-mirror .mc-user_license_agreement .agreement-content {
  overflow-y: scroll;
  color: #fff;
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  font-size: 1.05em;
  text-align: justify;
  padding: 0px 8px 0px 0px;
  margin-bottom: 1.5em;
}

.mc-start .mc-content .mc-info.mc-mirror .mc-user_license_agreement .agreement-manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-bottom: 1.5em;
}

.mc-start .mc-content .mc-info.mc-mirror .mc-user_license_agreement .agreement-manage .mc-btn.submit {
  width: auto;
  margin-bottom: 0px;
  font-size: 1em;
}

.mc-start .mc-content .mc-info.mc-mirror .mc-user_license_agreement .agreement-manage .mc-link {
  background: none;
  border: none;
  line-height: 1em;
  height: 1.5em;
  font-size: 1em;
  color: #fff;
}

.mc-start .mc-content .mc-info.mc-mirror .mc-user_license_agreement .agreement-manage .mc-link::after {
  background-color: #fff;
}

.mc-start .mc-content .mc-info .mc-backgrounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mc-start .mc-content .mc-info .mc-backgrounds::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.mc-start .mc-content .mc-info .mc-backgrounds .mc-bg-els {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.mc-start .mc-content .mc-info .mc-backgrounds .mc-bg-el-1 {
  background: -webkit-gradient(linear, right top, left top, color-stop(25.73%, #D62E23), color-stop(62.86%, #FFCE11), color-stop(93.81%, #23D680));
  background: linear-gradient(270deg, #D62E23 25.73%, #FFCE11 62.86%, #23D680 93.81%);
}

.mc-start .mc-content .mc-confirm-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 25%;
}

.mc-start .mc-content .mc-confirm-field .mc-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: -1px;
  color: #444476;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 1em;
  position: relative;
}

.mc-start .mc-content .mc-confirm-field .mc-title img {
  margin-right: 5px;
}

.mc-start .mc-content .mc-confirm-field .mc-title .mc-email {
  text-transform: none;
  color: #0B84BD;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 2.2em;
  font-size: 0.9em;
}

.mc-start .mc-content .mc-confirm-field .mc-inp-box {
  width: 52%;
}

.mc-start .mc-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 0;
}

.mc-start .mc-footer .mc-spec-main,
.mc-start .mc-footer .mc-spec-other {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mc-start .mc-footer .mc-work {
  padding: 20px 40px 8px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mc-start .mc-footer .mc-work .mc-soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mc-start .mc-footer .mc-work .mc-soc-links a {
  margin-right: 5px;
}

.mc-start .mc-footer .mc-work .mc-soc-links a i {
  font-size: 1.8em;
  color: rgba(68, 68, 118, 0.6);
}

.mc-start .mc-footer .mc-info {
  padding: 20px 40px 8px;
  width: 40%;
}

.mc-start .mc-footer .mc-spec-other .mc-work {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mc-start .mc-footer .mc-spec-other .mc-info {
  padding: 20px 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mc-start .mc-footer .mc-spec-other .mc-info .mc-app-info {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mc-start .mc-footer .mc-spec-other .mc-info .mc-app-info a {
  text-decoration: none;
  color: #444476;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  font-size: 15px;
  font-weight: 600;
}

.mc-start .mc-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -1px;
}

.mc-start .mc-footer .mc-spec-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.mc-start .mc-footer .mc-spec-confirm .mc-copyright {
  color: #444476;
}

