html, body, #app{
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

header, footer, div, input{
  box-sizing: border-box;
}

.mc-btn, .mc-link{
  font-size: 18px;
  font-family: $fe;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: uppercase;
}


