.mc-sticker{
  width: 95%;
  box-sizing: border-box;
  padding: 10px 15px;

  &.str-gr{
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #28a745,
    2px 2px 0 0 #28a745,
    3px 3px 0 0 #28a745,
    4px 4px 0 0 #28a745,
    5px 5px 0 0 #28a745,
    6px 6px 0 0 #28a745,
  }
}