.mc-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .mc-inp-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9em;
    width: 75%;
    .mc-inp-logo,
    .mc-inp-helper{
      border: 3px solid $purple;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      min-width: 50px;
      font-size: 1.8em;
      pading-top: 10px;
    }
    .mc-inp-logo{
      border-right: 0;
      color: $purple-light;
    }
    .mc-inp-helper{
      color: $yellow-light;
      border-left: 0;
    }
    .mc-inp{
      max-height: 65px;
      width: 70%;
      min-width: 300px;
      padding: 20px 10px 15px;
      border: 3px solid $purple;
      font-size: 20px;
      font-family: $fe;
      letter-spacing: -1px;
      color: $purple;
      font-weight: 700;
      border-left: 0;
      border-right: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
      &::placeholder{
        font-size: 20px;
        font-family: $fe;
        letter-spacing: -1px;
        color: $purple;
        font-weight: 700;
      }
    }
  }
}



.mc-btn{
  font-weight: 700;
  padding: 16px 40px;
  color: $purple;
  border: 3px solid $purple;
  &.submit{
    width: 75%;
    background-color: $purple;
    color: #fff;
    margin-bottom: 0.8em;
  }
}

.mc-link{
  font-weight: 500;
  color: $link;
  position: relative;
  font-size: 20px;
  &:after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $link;
  }
}