.mc-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .mc-inp-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9em;
    width: 70%;
    position: relative;
    .mc-inp-error{
      position: absolute;
      color: #c9302c;
      background-color: #fff;
      padding: 0px 10px;
      font-family: $fe;
      font-weight: 700;
      font-size: 0.8em;
      top: -6px;
      right: 15%;
      border-radius: 30px;
    }
    .mc-inp-logo,
    .mc-inp-helper{
      border: 3px solid $purple;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16%;
      min-width: 65px;
      font-size: 1.8em;
      pading-top: 10px;
      i{
        transition: color .5s ease;
      }
      .fa-envelope{
        padding-top: 6px;
      }
    }
    .mc-inp-logo{
      border-right: 0;
      color: $purple-light;
      &.red{
        color: #c9302c;
      }
      &.green{
        color: #449d44;
      }
    }
    .mc-inp-helper{
      color: $yellow-light;
      border-left: 0;
    }
    .mc-inp{
      max-height: 65px;
      width: 68%;
      min-width: 250px;
      padding: 20px 10px 15px;
      border: 3px solid $purple;
      font-size: 20px;
      font-family: $fe;
      letter-spacing: -1px;
      color: $purple;
      font-weight: 700;
      border-left: 0;
      border-right: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
      &::placeholder{
        font-size: 20px;
        font-family: $fe;
        letter-spacing: -1px;
        color: $purple;
        font-weight: 700;
      }
    }
  }
}



.mc-btn{
  font-weight: 700;
  padding: 16px 40px;
  color: $purple;
  border: 3px solid $purple;
  cursor: pointer;
  outline: none;
  &.submit{
    width: 70%;
    background-color: $purple;
    color: #fff;
    margin-bottom: 0.8em;
    &.sign{
      text-transform: none;
    }
  }
}

.mc-link{
  font-weight: 500;
  color: $link;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  &:after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $link;
  }
}


/*Animation for error*/
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}