// Variables
@import "variables";
// Clear
@import "clear";
// WForm
@import "_welcome_form";

.mc-start{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex: auto;
  width: 100%;
  .mc-header{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 0;
    .mc-logo{
      height: 65px;
      img{
        height: 100%;
      }
    }
    .mc-menu{
      .mc-visible{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &.mc-mirror{
          .title{
            color: #000;
          }
          .visual .re{
            background-color: #000;
          }
        }
        .title{
          font-family: $fd;
          font-weight: bold;
          font-size: 28px;
          margin-right: 10px;
          color: #fff;
        }
        .visual{
          display: flex;
          justify-content: space-between;
          width: 26px;
          .re{
            height: 55px;
            width: 2px;
            background-color: #fff;
          }
        }
      }
    }
  }
  .mc-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex: auto;
    .mc-work{
      display: flex;
      flex: auto;
      width: 60%;
      &.mc-mirror{
        width: 40%;
      }
      background-color: #fff;
      .center-box{
        display: flex;
        flex: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .intro-title{
          margin: 0px 0px 0.6em;
          letter-spacing: -1px;
          font-size: 54px;
          font-family: $fe;
          font-weight: 400;
          color: $purple;
          line-height: 1.3em;
          text-align: center;
          b{
            font-weight: 600;
            color: $purple-dark;
            &:last-child{
              margin-right: 10px;
            }
          }
        }
        .auth-box{
          display: flex;
          flex-direction: row;
          align-items: center;
          a{
            &.mc-btn{
              margin-right: 2.5em;
            }
            &.mc-link{
              margin-bottom: 7px;
            }
          }
        }
        .mc-title{
          font-family: $fe;
          text-transform: uppercase;
          font-size: 2em;
          letter-spacing: -1px;
          color: $purple;
          display: flex;
          align-items: center;
          margin: 0px 0px 0.6em;
          img{
            margin-right: 5px;
          }
        }
        .mc-form{
          .mc-inp-box{
            &.right{
              justify-content: flex-end;
              a{
                text-decoration: none;
                color: $link;
                font-family: $fe;
                letter-spacing: -1px;
                font-weight: 500;
                font-size: 20px;
              }
            }
          }

        }
      }
    }
    .mc-info{
      width: 40%;
      display: flex;
      flex: auto;
      position: relative;
      &.mc-mirror{
        width: 60%;
      }
      .mc-backgrounds{
        display: flex;
        flex: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        &::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
        }
        .mc-bg-els{
          display: flex;
          flex: auto;
        }
        .mc-bg-el-1{
          background: linear-gradient(270deg, #D62E23 25.73%, #FFCE11 62.86%, #23D680 93.81%);
        }
      }
    }
  }
  .mc-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    width: 100%;
    bottom: 0;
    .mc-spec-main, .mc-spec-other{
      width: 100%;
      display: flex;
    }
    .mc-work{
      padding: 20px 40px 8px;
      width: 60%;
      display: flex;
      align-items: center;
      .mc-soc-links{
        display: flex;
        a{
          i{
            font-size: 1.8em;
            color: $purple-light;
          }

          margin-right: 5px;
        }
      }
    }
    .mc-info{
      padding: 20px 40px 8px;
      width: 40%;
    }
    .mc-spec-other{
      .mc-work{
        justify-content: center;
      }
      .mc-info{
        padding: 20px 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        .mc-app-info{
          width: 75%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          a{
            text-decoration: none;
            color: $purple;
            font-family: $fe;
            letter-spacing: -1px;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .mc-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: $fd;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -1px;
  }
}